<!DOCTYPE html>
<html>
	<head>
		<title>Channels</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_chats.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
				var channelsArray = JSON.parse({{ currentChannels | tojson }});
				var cUser = '{{ username }}';
				socket.on('connect', function(){
					
					if(channelsArray.length === 0){
						document.querySelector('#noChannels').innerHTML = "No channels yet, please create a new one!";
						
					}
					else{
						for(i=0; i<channelsArray.length; i++){
							let li = document.createElement('li');
							li.classList.add('list-group-item');
							li.innerHTML =`<a href='/channels/${cUser}/${channelsArray[i]}''># ${channelsArray[i]}</a>`;
							document.querySelector('#existingChannels').append(li);
						}
						
					}

					document.querySelector('#channelForm').onsubmit = function(e){
						e.preventDefault();

						let newChannel = document.querySelector('#channel_input').value;

						if(channelsArray.includes(newChannel)){
							alert('This channel already exists!');
							document.querySelector('#channel_input').value = '';
						}
						else{
							document.querySelector('#channel_input').value = '';
							socket.emit('update_channels', {channel: newChannel});
						}
						
						return false;
					}
				})

				socket.on('display_channels', function(data){
					document.querySelector('#noChannels').innerHTML = '';
					let length = data.length;
					let li = document.createElement('li');
					li.classList.add('list-group-item');
					li.innerHTML = `<a href="/channels/${cUser}/${data[length-1]}"># ${data[length-1]}</a>`;
					document.querySelector('#existingChannels').append(li);
					
				});
			})
		</script>

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='globeIcon.png') }}" width="30" height="30" class="d-inline-block align-center" alt="" loading="lazy">
				Flack
			</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
	    	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    	<div class="navbar-nav">
		    		<a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
			        <a class="nav-item nav-link active" href="#">Channels <span class="sr-only">(current)</span></a>
			        <a class="nav-item nav-link" href="#">About</a>
			        <a class="nav-item nav-link" href="#">Code</a>
	    		</div>
	    	</div>
		</nav>

		<div class="container">
			<h2 class="text-center">{{ username }}, select a channel:</h2>
			<p class="text-center" id="noChannels"></p>
			<ul class="text-center list-group" id="existingChannels"></ul>
			<br>

			<form id='channelForm' method="post">
				<div class="row justify-content-center">
					<div class="form-group col-lg-4">
		     			<input class="form-control" id='channel_input' type="text" name="channel" placeholder="New Channel">
		     		</div>
		     		<div class="form-group col-lg-1 p-0 centerBtn">
		        		<button class="btn btn-outline-success">Submit</button>
		        	</div>
	        	</div>
	  		</form>


  		</div>
	</body>
</html>