<!DOCTYPE html>
<html>
	<head>
		<title>Channels</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_index.css') }}">
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
				var channelsArray = JSON.parse({{ currentChannels | tojson }});
				var cUser = '{{ username }}';
				socket.on('connect', function(){
					
					if(channelsArray.length === 0){
						document.querySelector('#noChannels').innerHTML = "No channels yet, please create a new one!";
						
					}
					else{
						for(i=0; i<channelsArray.length; i++){
							let li = document.createElement('li');
							li.innerHTML =`<a href='/channels/${cUser}/${channelsArray[i]}''>${channelsArray[i]}</a>`;
							document.querySelector('#existingChannels').append(li);
						}
						
					}

					document.querySelector('#channelForm').onsubmit = function(e){
						e.preventDefault();
						let newChannel = document.querySelector('#channel_input').value;
						document.querySelector('#channel_input').value = '';

						socket.emit('update_channels', {channel: newChannel});
						return false;
					}
				})

				socket.on('display_channels', function(data){
					document.querySelector('#noChannels').innerHTML = '';
					let length = data.length;
					let li = document.createElement('li');
					li.innerHTML = `<a href="/channels/${cUser}/${data[length-1]}">${data[length-1]}</a>`;
					document.querySelector('#existingChannels').append(li);
					
				});
			})
		</script>

	</head>

	<body>
		<h1>Flack - A Messaging Platform</h1>
		<h3>{{ username }}, select a channel!</h3>
		<p id="noChannels"></p>
		<ul id="existingChannels"></ul>

		<form id='channelForm' method="post">
     		<input id='channel_input' type="text" name="channel" placeholder="New Channel">
        	<button>Submit</button>
  		</form>

	</body>
</html>