<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_index.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script_index.js') }}"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='globeIcon.png') }}" width="30" height="30" class="d-inline-block align-center" alt="" loading="lazy">
				Flack
			</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
	    	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    	<div class="navbar-nav">
			        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			        <a class="nav-item nav-link" href="#">About</a>
			        <a class="nav-item nav-link" href="https://github.com/mspassov/FlackMessaging">Code</a>
	    		</div>
	    	</div>
		</nav>
		  			
		<div class="container">
			<h1 class="text-center hero">Flack - A messaging Application</h1>
			<br>
			<p class="text-center"><strong>Flack</strong> is an anonymous web-based messaging platform which allows users to
			create both public and private channels, and chat with anyone on the internet. Anyone can create
			a channel with just a username!</p>
			<h3 class="text-center"></h3>	
			<br>
			<form id='firstForm' action="{{ url_for('chats') }}" method="post">
				<div class="row justify-content-center">
					<div class="form-group col-lg-4">
			     		<input class="form-control" id='user_input' type="text" name="user" placeholder="Display Name">
		        	</div>
		        	<div class="form-group col-lg-1 p-0 centerBtn">
		        		<button class="btn btn-outline-success">Submit</button>
	        		</div>
        		</div>
  			</form>
		</div>

		

	</body>
</html>