<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

		<script>
			document.addEventListener('DOMContentLoaded', function(){
				var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

				socket.on('connect', function(){
					socket.emit('joined_room', {
						username: "{{ username }}",
						channel: "{{ channel }}"
					});

					
					document.querySelector('#sendMessage').onsubmit = function(e){
						e.preventDefault();
						let dateObj = new Date();
						let time = dateObj.getHours() + ":" + dateObj.getMinutes() + ":" + dateObj.getSeconds();
						let message = document.querySelector('#message').value;
						let user = "{{ username }}";

						if(message.length > 0){
							socket.emit('sent_message', {
								username: "{{ username }}",
								channel: "{{ channel }}",
								message: [user, message, time]
							})
						}

						document.querySelector('#message').value = '';
					}

				});

				socket.on('new_user_announce', function(data){
					let userList = document.createElement('li');
					userList.innerHTML = `<strong>${data['username']}</strong> has joined the room`;
					document.querySelector('#currUsers').append(userList);

				});

				socket.on('receiveMessage', function(data){
					let messageDisplay = document.createElement('li');
					let user = data['message'][0];
					let message = data['message'][1];
					let time = data['message'][2];
					messageDisplay.innerHTML = `<strong>${user}</strong>: ${message} - <i>${time}</i>`;
					document.querySelector('#currUsers').append(messageDisplay);
				});

			});
		</script>

	</head>
	<body>
		<h1>#Channel: {{ channel }}</h1>
		<h3>Welcome {{ username }}</h3>

		<ul id="currUsers">
			{% for i in chatMsgs %}
				<li><strong>{{ i[0] }}</strong>: {{ i[1] }} - <i>{{ i[2] }}</i></li>
			{% endfor %}
		</ul>

		<form id="sendMessage">
			<input id="message" type="text" placeholder="Message">
			<button>Send</button>
		</form>
		<br>
		<a href="{{ url_for('chats') }}">Go Back to Channels</a>

	</body>
</html>